.Root{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    background-color: rgb(244, 249, 252);
}
.Card{
    width: 28%;
    height: 40%;
    background-color: white;
    border-radius: 9px;
    box-shadow: rgb(95, 95, 95);
    margin-left: 20%;
    margin-right: 12%;
    margin-bottom: 10%;
}
.Input{
    border-color: lightgray;
    border-width: 2px;
    border-style: solid;
    border-radius: 7px;
    width: 90%;
    height: 15%;
    margin-bottom: 10px;
    padding-left: 5px;
}
.Button{
    background-color: rgb(46, 46, 221);
    color: white;
    border-radius: 10px;
    width: 90%;
    height: 15%;
    font-size: 20px;
    font-weight:600;
}
.Password{
    color: rgb(42, 42, 214);
    margin-top: 4px;
}
.Container{
    margin-bottom: 18%;
    margin-left: 18%;
  
}
.Header{
    color: rgb(104, 104, 212);
    font-size: 80px;
    font-weight: bolder;
}
